body {
 
background-image: url("imagesss.jpg");
background-repeat:no-repeat; ;
background-attachment:fixed;
background-size:cover;
}

h1 {
	font-family:chiller;
  color: pink;
  font-size: 10em;
  padding-top: 1px;
  width: 100%;
}

h2 {
  border-bottom: 1px solid rgba(255, 255, 300, 0.5);
  color: rgba(100, 155, 300, 1);
  font-weight: 100;
  font-size: 50px;
  line-height: 24px;
  font-color:bold;
  padding-bottom: 30px;
  text-align: center;
  width: 50%;
}

p {
  color: #303090;
  line-height: 2em;
  font-size:25px;
   font-family: "Lato", sans-serif;

  text-align: center;
  width: 100%;
}


